# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# SwiftPM
.swiftpm/
Package.resolved
.build/

# CocoaPods (もし使っている場合)
Pods/
Podfile.lock

# Carthage (もし使っている場合)
Carthage/
